@import url(https://fonts.googleapis.com/css?family=Sintony);

body{
  width: auto;
  height: auto;
  background-color: white;
}


.title{
  position: absolute;
  margin: 40px 20px;
  font-size: 32px;
  font-family: 'Sintony','Forum',sans-serif;
  font-size: 22px;
}

#toggle{
  display: none;
}

label,
ul{
  border: 1px solid #cecfd5;
  border-radius: 6px;
  float:right;
}

label{
  color: #0087cc;
  cursor: pointer;
  display: inline-block;
  font-size: 72px;
  padding: 5px 9px;
  transition: all .15s ease;
}

label:hover {
  color: #ff7b29;
}

input:checked + label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #9799a7;
}

nav {
  max-height: 0;
  overflow: hidden;
  transition: all .15s ease;
}

input:checked ~ nav {
  max-height: 600px;
}

ul {
  list-style: none;
  margin: 8px 0 0 0;
  width: 100px;
}
li {
  border-bottom: 1px solid #cecfd5;
}
li:last-child {
  border-bottom: 0;
}
nav + a {
  color: #0087cc;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
nav + a:hover {
  color: #ff7b29;
}

.logo{
  margin: 4px;
  width: auto;
  height: 72px;
}

.image{
  display:block;
  border: 1px solid rgb(190,190,190);
  margin-left: auto;
  margin-right:auto;
  margin-top: 6px;
  width: 460px;
  height: 460px;

}

.tag_img{
  float: left;
  width: 18px;
  height:auto;
  margin-bottom: 20px;
}

.des_tag{
  text-align: center;
  color: black;
  font-size: 12px;
  position: relative;
  font-style: italic;
  margin-bottom: 6px
}

.ex_logo{

  margin: 12px 4px 8px 4px;
  width: 64px;
  height: 64px;
}

.nav{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem; */
  width:auto;
  height:auto;
  margin: 10px 0px 30px 10px;
}

.nav_link {
  /* display: inline-flex;
  flex-grow: 5rem; */
  padding: 12px;
  margin: 24px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  color:rgb(110,110,110);
}

.nav_link:hover{
  color: black;
  text-decoration: underline;
}

.fnav_link {
  text-decoration: none;
  margin: 16px 16px 0 6px;
  align-self: center;
  font-size: 8px;
  font-weight: bold;
  color:rgb(110,110,110);
}

.fnav_link:hover{
  color: black;
  text-decoration: underline;
}

.footerp{
  font-size: 14px;
  color: rgb(7,60,135);
  margin: 8px;
}

.current-page{
  color: black;
  text-decoration: underline;
}

.wrapper{
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 1rem;
}

.item{
  width:auto;
  height:auto;
  background-color: rgb(240,240,240);
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
